@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height:100%*/
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to bottom,#2c2c2c, #000000);
}
main{
    background-color: white;
    width: 600px;/*largura*/
    padding: 10px;/*acolchoamento; espaçamento entre a letra e o fundo*/
    margin: auto;/*para centralizar na tela*/
    border-radius: 10px;/*curva na ponta*/
    box-shadow: 2px 2px 10px #ffffff6c;
}
h1{
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px #80675767;
}
H2{
    color: #125189;
}