@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento por página)
    em HTML é class = em CSS é . (pode vários elementos por página)
*/

body{
    background-color: rgb(131, 255, 127)55, 127);
    font-family: arial;
}
h1#principal{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:  rgb(102, 12, 12) ;
}
h1{
    color: rgb(54, 109, 0);
}
p{
    text-align: justify;
}
.basico{
    color: rgba(29, 255, 48, 0.692);
}
.intermediario{
    color: burlywood;
}
.avancado{
    color: rgba(29, 29, 156, 0.76);
}
.destaque{
    background-color: rgba(128, 124, 69, 0.685);
}