@charset "UTF-8";
body{
    font-family:"Poppins";
    font-size: 18px;
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #1a2027;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav{
    width: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0 / 8%);
}
.menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 70px;
}